# Kaggle Introduction: DataCamp Course

course name: Winning a Kaggle Competition in Python

## 1.New York city taxi fare prediction

Full data from Kaggle as train/test set.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
taxi_train = pd.read_csv("../../../Kaggle_Data/new-york-city-taxi-fare-prediction/train.csv")

In [22]:
taxi_train.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [11]:
taxi_train.shape

(55423856, 8)

In [6]:
taxi_train.columns.to_list()

['key',
 'fare_amount',
 'pickup_datetime',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude',
 'passenger_count']

In [16]:
taxi_test = pd.read_csv("../../../Kaggle_Data/new-york-city-taxi-fare-prediction/test.csv")

In [17]:
taxi_test.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [18]:
taxi_sample_sub = pd.read_csv("../../../Kaggle_Data/new-york-city-taxi-fare-prediction/sample_submission.csv")

In [19]:
taxi_sample_sub.head()

                           key  fare_amount
0  2015-01-27 13:08:24.0000002        11.35
1  2015-01-27 13:08:24.0000003        11.35
2  2011-10-08 11:53:44.0000002        11.35
3  2012-12-01 21:12:12.0000002        11.35
4  2012-12-01 21:12:12.0000003        11.35

## 2. Store Item Demand Forecasting Challenge

In this competition, you are given 5 years of store-item sales data, and asked to predict 3 months of sales for 50 different items in 10 different stores.          

To begin, let's explore the train data for this competition. For the faster performance, you will work with a subset of the train data containing only a single month history.

In [23]:
store_train = pd.read_csv("../DataCamp_Intro/Data/demand_forecasting_train_1_month.csv")

In [24]:
store_train.head()

       id        date  store  item  sales
0  100000  2017-12-01      1     1     19
1  100001  2017-12-02      1     1     16
2  100002  2017-12-03      1     1     31
3  100003  2017-12-04      1     1      7
4  100004  2017-12-05      1     1     20

In [25]:
store_train.shape

(15500, 5)

Having looked at the train data, let's explore the test data in the "Store Item Demand Forecasting Challenge". Remember, that the test dataset generally contains one column less than the train one.          

This column, together with the output format, is presented in the sample submission file. Before making any progress in the competition, you should get familiar with the expected output.         

That is why, let's look at the columns of the test dataset and compare it to the train columns.

In [26]:
store_test = pd.read_csv("../DataCamp_Intro/Data/demand_forecasting_test.csv")

In [27]:
store_test.shape

(45000, 4)